hmtl,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

.root-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
